<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="footer_template">
<footer class="footer">
    <hr>
    <nav id="footer_nav">
        <a href="project_list">ProjectList</a>
        <a href="project_update">UpdateExistingProject</a>
        <a href="index">Home</a>
        <a href="project_creator">ProjectCreator</a>
    </nav>
    <hr>
    <div id="footer-text">
        <p> Copyright © 2021 • All rights reserved • Mathias - Jesper - Robert - Tobias </p>
    </div>
</footer>
</div>
</body>
</html>