<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static\stylesheet\main.css">
<body>
    <header class="header">
        <h1>
            - D P C M -
        </h1>
        <h3>Data Project Concept Management</h3>
        <hr>
            <nav id="header_nav">
                <a href="project_creator">Create New Project</a>
                <a href="project_list">ProjectList</a>
                <a href="/subtask_creator">Update Project</a>
            </nav>
            <hr>
    </header>


</body>
</html>
