<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="style/stylesheet.css">
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<div id="header_template">
    <header class="header">
        <h1>
            - D P C M -
        </h1>
        <p>Data Project Concept Management</p>
        <hr>
        <nav id="header_nav">
            <a href="project_list">ProjectList</a>
            <a href="index">Home</a>
            <a href="project_creator">ProjectCreator</a>
        </nav>
        <hr>
    </header>
</div>

</body>
</html>
