<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static\stylesheet\main.css">
<body>
<div id="header_template">
    <header class="header">
        <h1>
            - D P C M -
        </h1>
        <p>Data Project Concept Management</p>
        <hr>
            <nav id="header_nav">
                <a href="project_creator">Create New Project</a>
                <a href="project_list">ProjectList</a>
                <a href="project_update">Update Project</a>
            </nav>
            <hr>
    </header>
</div>

</body>
</html>
