<!DOCTYPE html>
<html lang="en">
<head class="head">
    <style>
        body {
            width: 100%;
            height: 100%;
            overflow: scroll;
            background-image: url("../../static/stylesheet/alphaSolutionsLogoStandAlone.png");
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }
    </style>
    <meta name="viewport" content="width=device=width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheet/main.css">
    <meta charset="UTF-8">
    <title>DPCM</title>

</head>

<body>
<hr>
<header class="header">
    <h1>- D P C M -</h1>
    <img src="../../static/img/alphaSolutionsLogoStandAlone.png" alt="alphaSolution logo"/>
    <h3>Data Project Concept Management</h3>
    <hr>
    <nav id="header_nav">
        <a href="project_creator">Create New Project</a>
        <a href="project_list">ProjectList</a>
        <a href="/subtask_creator">Update Project</a>
    </nav>
    <hr>
</header>
<hr>
<h1>template1html</h1>
<h2>template1html</h2>
<h4>template1html</h4>
<footer class="footer">
    <hr>
    <nav class="footer-nav">
        <a href="index">LogOut</a>
    </nav>
    <hr>
    <div id="footer-text">
        <p> Copyright © 2021 • All rights reserved • Mathias - Jesper - Robert - Tobias </p>
    </div>
</footer>+
<hr>
</body>
</html>
