<!DOCTYPE html>
<html lang="en">

 <head th:replace="fragments/head"> Deafalt Head </head>
    <body>
    <header class="header">
        <h1>
            - D P C M -
        </h1>
        <p>Data Project Concept Management</p>
        <hr>
        <nav id="header_nav">
            <a href="/login">Log in</a>
            </nav>
        <hr>
    </header>
    <div>
            <h3>
                Project Management the simpel way..
            </h3>
            <p>
                Simplicity  =  Effeciency
            </p>
    </div>
    <footer class="footer">
        <hr>
        <nav class="footer-nav">
<p>Click on 'Log in' - enter your credentials - and begin using DPCM</p>
        </nav>
        <hr>
        <div id="footer-text">
            <p> Copyright © 2021 • All rights reserved • Mathias - Jesper - Robert - Tobias </p>
        </div>
    </footer>

    </body>

</html>
