<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head"> Deafalt Head </head>
<body>
<header class="header">
    <h1>
        - D P C M -
    </h1>
    <p>Data Project Concept Management</p>
    <hr>
    <nav id="header_nav">
        <a href="index">RETURN to system</a>

    </nav>
    <hr>
</header>
<div>
    <h3>
        Project Management the simpel way..
    </h3>
    <h4>TO BE IMPLEMENTED</h4>
    <p>
        Simplicity  =  Effeciency
    </p>
</div>
<footer th:replace="fragments/footer">Default</footer>
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head">Default Head<title>ProjectDetails</title></head>
    <body>
    <header th:replace="fragments/header">Default Header</header>

    <div class="projectdetails">
            <h1>
                Project-Details for:
            </h1>
        <table>
        <tr class="table-header">
            <th>Project ID</th>
            <th>Project Name</th>
        </tr>
        <tr th:each="pDetails : ${pDetails.CreateSubtask()}">
            <tr th:text="${pDetails}">
                <!-- <td th:text="${pDetail.listMapMetode()}">virk got damn</td>-->
            </tr>
            </table>

    </div>


<table>
    <tr class="table-header">
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr th:each="pDetail : ${pDetail.listMapMetode()}">
    <td th:text="${pDetail}">testTEXT</td>
</table>

    </body>
</html>

