<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head class="head">
    <meta name="viewport" content="width=device=width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheet/main.css">
    <meta charset="UTF-8">
    <title>projectlist</title>
</head>
    <body>
        <header class="header">
            <h1>
                - D P C M -
            </h1>
            <p>Data Project Concept Management</p>
            <hr>
            <nav id="header_nav">
                <a href="project_list">ProjectList</a>
                <a href="index">Home</a>
                <a href="project_creator">ProjectCreator</a>
            </nav>
            <hr>
        </header>
        <div>
            <h1>
                Project-List.
            </h1>
            <p>Currently active projects:</p>

        </div>
        <footer class="footer">
            <hr>
            <nav id="footer_nav">

                <a href="project_list">ProjectList</a>
                <a href="index">Home</a>
                <a href="project_creator">ProjectCreator</a>
            </nav>
            <hr>

            <div id="footer-text">
                <p> Copyright © 2021 • All rights reserved • Mathias - Jesper - Robert - Tobias </p>
            </div>
        </footer>
    </body>
</html>