<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head"> Deafalt Head </head>
    <body>
    <header th:replace="fragments/header">Default Header</header>

    <div class="projectdetails">
            <h1>
                Project-Details for:
            </h1>
        </div>
            <div th:each="project_details : ${detailposts}">
                <p th:text="${project_details.getProjectName()}"></p>
                <p th:date="${project_details.getDeadLine()}"></p>
                <p th:text="${project_details.getProjectDescription()}"></p>
                <p th:number="${project_details.getProjectId()}"></p>
                <p th:number="${project_details.getNumberOfTask()}"></p>
            </div>
    </body>

    <footer th:replace="fragments/footer">Default</footer>
</html>