<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head">Default Head</head>
<body>
<header th:replace="fragments/header">Default Header</header>
<div>
    <h1>
        Project-List.
    </h1>
    <p>Currently active projects:</p>
</div>
<div class="project-list-table">
    <table>
    <tr class="table-header">
        <th>ID</th>
        <th>ProjectName</th>
        <th>ConsNamd</th>
    </tr>
        skal lave for eche til arraylist
    <tr th:each="projectList: ${pdetail}"></tr>


    </table>

    <Form action="/send_project_request" method="Get">
        <label for="qId">Enter project Id</label>
    <input type="text" name="qId" id="qId">
    <button type="submit">view details for a project</button>
    </Form>
</div>

</body>
<footer th:replace="fragments/footer">Default</footer>

</html>