<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head">Default Head</head>
<body>
    <header th:replace="fragments/header">Default Header</header>

    <div>
            <h1>
                Project-List.
            </h1>
            <p>Currently active projects:</p>
    </div>
    <div>
        <<tr th:each="list:${session.list}">
            <td th:text="${list.giftName}">Gave</td>
            <td th:text="${gift.description}">Description</td>


    </tr>
            <li></li>
        </ul>
    </div>
    </body>
        <footer th:replace="fragments/footer">Default</footer>

</html>