<!DOCTYPE html>
<html lang="en">

<head class="head">
    <meta name="viewport" content="width=device=width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheet/main.css">
    <meta charset="UTF-8">
    <title>project_creator</title>
</head>
    <body>
        <header th:replace="fragments/header">Default Header</header>
            <h1>
                Project-creator. in templates folder
            </h1>

                <form action="/submit_project_form" method="post">
                    <ul>
                    <!-- Consultant Name -->
                        <li><label for="consultant_name">ConsultantName</label></li>
                        <input type="text" name="consultant_name" id="consultant_name">
                    <!-- pro.name -->
                        <li><label for="project_name">Project Name</label></li>
                        <input type="text" name="project_name" id="project_name">
                        <!-- startDate -->
                        <li><label for="start_date">Starting Date</label></li>
                        <input type="date" id="start_date" name="start_date">
                        <!-- deadline -->
                        <li><label for="dead_line">Ending Date (Deadline)</label></li>
                        <input type="date" id="dead_line" name="dead_line">
                    <!-- pro.descr -->
                        <li><label for="project_description">Description of total Project (clientname, requirements, etc):</label></li>
                        <textarea name="project_description" id="project_description" cols="40" rows="5"></textarea>
                    <!-- subtask.name -->
                        <li><label for="sub_task_name">Initial subtask:</label></li>
                        <input type="text" name="sub_task_name" id="sub_task_name">
                    <!-- subtask.desc -->
                        <li><label for="sub_task_description">Description of initial subtask:</label></li>
                        <textarea name="sub_task_description" id="sub_task_description" cols="40" rows="5"></textarea>
                    <!-- subtasktime -->
                        <li><label for="sub_task_time">Estimated subtask time:</label></li>
                        <input type="number" name="sub_task_time" id="sub_task_time">
                    <!-- submitTask button -->
                        <button type="submit" value="Add to project">Create project</button>

                        </ul>
                </form>
                <form action="/insertSQL" method="post">
                    <button type="submit" value="read to database"> Create project</button>
                </form>



    </body>
<footer th:replace="fragments/footer">Default</footer>
</html>

