<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head">Default Head<title>ProjectDetails</title></head>
    <body>
    <header th:replace="fragments/header">Default Header</header>

    <div class="projectdetails">
            <h1>
                Project-Details for:
            </h1>
        <table>
        <tr class="table-header">
            <th>Project ID</th>
            <th>Project Name</th>
        </tr>
        <tr th:each="pDetails : ${pDetails.CreateSubtask()}">
            <tr th:text="${pDetails}">
                <!-- <td th:text="${pDetail.listMapMetode()}">virk got damn</td>-->
            </tr>
            </table>

    </div>


<table>
    <tr class="table-header">
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr th:each="pDetail : ${pDetail.listMapMetode()}">
    <td th:text="${pDetail}">testTEXT</td>
</table>

            <footer th:replace="fragments/footer">Default</footer>
    </body>
</html>

<!--
                 <div th:each="pDetails : ${subtaskposts}">
    <td th:text=" ${project.getProjectName()}">
    <td th:text= "${pDetails.getNumberOfTask()}">
    <td th:text=" ${pDetails.getSubtaskDescription()}">
    <td th:text=" ${pDetails.getSubtaskTime()}">
    <td th:text=" ${pDetails.getSubtaskPrice}">
    <td th:text=" ${pDetails.getSubtaskConsultantName}">
    <td th:text=" ${pDetails.getSubtaskDeadLine} ">
    <td th:text=" ${project.getProjectId()}">
     <p th:text=" ${project_details.getDeadLine()}"></td>
     <p th:text="  ${project_details.getProjectDescription()}"></p>
     <p th:number="${project_details.getProjectId()}"></p>
</div>
-->