<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"> Deafalt Head </head>

    <body>

         <header th:replace="fragments/header">Default Header</header>
            <h2>
              Project is created..
            </h2>
          <a href="/project_creator">Add more tasks to Project</a>


          <section id="project_creation_form_succes">
              <p th:text="${'ProjectName: ' + project_details.getProjectName()}"></p>
              <p th:text="${'DeadLine: ' + project_details.getDeadLine()}"></p>
              <p th:text="${'ProjectDescription: ' + project_details.getProjectDescription()}"></p>
              <p th:text="${'ProjectId: ' + project_details.getProjectId()}"></p>
              <p th:text="${'TotalProjectTime: ' + project_details.getTotalProjectTime()}"></p>
              <p th:text="${'NumberOfTask: ' + project_details.getNumberOfTask()}"></p>

          </section>


            <p>Result can be altered and viewed on the Project Details Page</p>

    </body>
<footer th:replace="fragments/footer">Default</footer>
</html>
