<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head">thymeLhead</head>

  <body>
    <header th:replace="fragments/header">thymeLHeader</header>

    <h1>
        Project Update.
      </h1>
    <p>Add additional tasks to your project:</p>

    <form action="/submit_subtask_form" method="post">
      <ul>
        <!-- subtaskname -->
        <li><label for="sub_task_name">New subtask:</label></li>
        <input type="text" name="sub_task_name" id="sub_task_name">
        <!-- subtask.desc -->
        <li><label for="sub_task_description">Description of new subtask:</label></li>
        <textarea name="sub_task_description" id="sub_task_description" cols="40" rows="5"></textarea>
        <!-- Estimated subtasktime -->
        <li><label for="sub_task_time">Estimated subtask time:</label></li>
        <input type="number" name="sub_task_time" id="sub_task_time">
        <li><label for="sub_task_price">Price:</label></li>
        <input type="text" name="sub_task_price" id="sub_task_price">

        <li><label for="sub_task_consultent_name">consultant name working on task:</label></li>
        <input type="text" name="sub_task_consultent_name" id="sub_task_consultent_name">

        <li><label for="sub_task_dead_line">Dead line:</label></li>
        <input type="date" name="sub_task_dead_line" id="sub_task_dead_line">
        <!-- submitTask button -->
        <button type="submit" value="Add sub task to project">Add subtask to project</button>
      </ul>

    </form>
    <footer th:replace="fragments/footer">ThymeLFooter</footer>
  </body>
  </html>