<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head">Default Header<title>SubTaskAdded</title></head>
<body>
<header th:replace="fragments/header">Default Header</header>
<h1>
    The Subtask is added to your project.
</h1>
<button type="button" value="Add another subtask"><a href="/subtask_creator"></a>Add more Subtasks</button>
<button type="submit"><a href="/project_creation_succes"></a>Return to Project</button>
<button type="submit"><a href="/project_list"></a>Return to Projectlist</button>
<footer th:replace="fragments/footer">Default</footer>
</body>
</html>