html{
    font-family: Hack, monospace;
    text-color: black;
    border: 2px solid black;
    background-color: darkgrey;

}
header{
    align-items: center;

}
header h1{
    text-align: center;
}
header h3{
    text-align: center;
}
header p{
    text-align: center;
}
a{
    font-size: 1.1em;
    line-height: 1.3em;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

header nav
{
    display: flex;
    text-align: center;
}

header nav a
{
    flex-grow: 1;
    color: black;
    align-items: center;
    padding: 0px;
    text-decoration: none;
}
header nav a:hover {
    color: snow;
    background-color: grey;
}
center{
    text-align: center;
}


.flexparent {
    height: 100%;
    margin-bottom: -5px;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    width: auto;

}
.fc1{
    margin:20px;
    height:200px;
    border: 2px solid black;
    background-color: white;


}
.fc2
{
    margin:20px;
    height:200px;
    border: 2px solid black;
    background-color: white;
}
.fc3{
    margin:20px;
    height:200px;
    width: 9rem;
    border: 2px solid black;
    background-color: red;
}

footer{

margin-bottom: 0px;
.height: 30px;
.padding: 0px;
.align-items: center;
}

footer a:hover {
    color: snow;
    background-color: red;
}
footer nav{
    text-align: center;
}
footer p{
    text-align: center;
}
