html{
    font-family: Hack, monospace;

    border: 2px solid black;
    background-color: darkgrey;
    height: 100%;


}
.header{


}
body {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-image: url("alphaSolutionsLogoStandAlone.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

{
    min-height: 100%;

    align-items: center;
}


header nav
{
    display: flex;
    text-align: center;
}

header nav a
{
    flex-grow: 1;
    color: black;
}

header nav{

    align-items: center;

}

header nav a {
    padding: 20px;
    text-decoration: none;
    color: black;
}

header nav a:hover {
    color: snow;
    background-color: grey;
}
body{
    align-content: center;
}

.flexparent {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;


}
.fc1{
    margin:20px;
    height:200px;
    border: 2px solid black;
    background-color: white;


}
.fc2
{
    margin:20px;
    height:200px;
    border: 2px solid black;
    background-color: white;
}
.fc3{
    margin:20px;
    height:200px;
    width: 9rem;
    border: 2px solid black;
    background-color: red;
}

footer{
    margin-bottom: -5px;
    flex-shrink: 0%;
    height: 5px;

    align-items: center;
}

footer a:hover {
    color: snow;
    background-color: red;
}
footer nav{
    padding: 0px;
    text-align: center;
}
footer p{
    margin-bottom: -5px;
    text-align: center;
}
